body {
    background-color: rgba(77, 153, 252, 0.603);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
  }
  h2 {
      color: black;
      font-size: 20px;
      font-family: Arial;
      margin-left: 21%;
      margin-right: 21%;
  }
  p {
      color: black;
      font-size: 20px;
  }
h4 {
    color: black;
    font-size: 25px;
}